@font-face {
    font-family: Joan;
    src: url('assets/font/Joan-Regular.ttf') format('truetype');

}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Joan;
    font-size: 1.5em;

}

.logoImg {
    height: 30vh;
    z-index: 1000;
    position: absolute;
    padding-left: 5vw;
    top: 5vh;
}


.header {
    /* padding-right:0; */
    height: 25vh;
    width: 100vw;
    background-color: #0D1A25;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-content: space-around;

}

.screensImg {
    width: 90vw;
    margin: auto;
    padding-left: 10vw;

}

/* Text Styling Headings */

.line {
    float: left;
    width: 160px;
    margin-left: 50px;

}

.lineTwo {
    float: left;
    width: 160px;
    margin-left: 160px;
}

h2 {
    padding: 20px 0 20px 0;
    margin-left: 70px;
}

h3{
    margin-left: 40px;
    margin-bottom: 10px;
}

p{
    margin-left: 30px;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    padding: 0 50px 50px 50px;
}

h6{
    color: lightblue;
}

.linkSize{
    font-size: smaller;
}

/* Planning Section */

.objectiveFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.objectiveDetail {
    max-width: 500px;
}

.links {
    
    background-color: #0D1A25;
    color: white;
    margin: 25px 100px 25px 25px;
    padding: 50px 20px 20px 20px;
    height: 290px;
    width: 290px;
    border-radius: 0px 30px 0px 30px;
   

}

.projLink{
    color: white;
    font-size: smaller;
}

.projLink:hover{
    color:#F90606;
}

.userFLowDiagram {
    width: 100vw;

}

.wireframeDiagram {
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* Style Guide Section */

.styleContainerFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    row-gap: 20px;
}

.flexChild {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.swatchBox{
    height: 30vh;
    width: 30vh;
    border-radius: 0px 30px 0px 30px;
    box-shadow:5px 10px gainsboro;
}

.bgColor {
    background-color: #0D1A25;
}

.linkColor {
    background-color: #F90606;
}

.compColor {
    background-color: #122535;
}

.btnColor {
    background-color: #59A9F0;
}

.borderBox{
    border: 1px solid gray;
}

.centerBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swatchDesc {
    width: 20vw;
    margin-left: 20px;
}

.imageMovie {
    height: 30vh;
    width: 30vh;
    border-radius: 0px 30px 0px 30px;
}




/* .swatch {
    height: 40vh;
    width: 40vh;
    border-radius: 0px 30px 0px 30px;
} */















/* .imageBox {

    height: 30vh;
    width: 30vh;
    border-radius: 0px 30px 0px 30px;

} */





/* .faIcon {
    height: 10vh;
}


.marg {
    margin: 5px;
    margin-left: 100px;

} */

.navMenu {
    float: right;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    align-content: space-around;
    color: white;



}

.navItem {
    padding-left: 1em;
    /* text-decoration: none; */
    color: white;

}

.navItemLast {
    padding-left: 1em;
    padding-right: 3em;
    padding-bottom: .5em;
    /* text-decoration: none; */
    color: white;
}

@media (max-width: 740px) {

.logoImg {
    height: 20vh;
    z-index: 1000;
    position: absolute;
    padding-left: 5vw;
    top: 10vh;
}
    
}


@media (max-width: 440px) {

    .logoImg {
        height: 15vh;
        z-index: 1000;
        position: absolute;
        padding-left: 5vw;
        top: 0;
    }
        
    }